<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav id="navbar" class="fixed top-0 right-0 left-0 bg-violet-700 h-16">
    </nav>

<div class="pt-16 h-screen flex justify-center items-center flex-col md:flex-row lg:w3/5 mx-auto px-4 gap-4 md:gap-8">
 <h1 class="text-violet-700 font-bold text-4xl md:text-6xl">TodoApp</h1>
 <div class="flex flex-col gap-4 md:text-xl">
    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolore incidunt quidem sint doloribus quia unde voluptas eum ab, nisi quos veniam, vero accusamus at non ipsa laudantium. Quis, quasi?</p>
    <div class="flex justify-around gap-4">
        <a class="bg-violet-500 py-2 px-4 rounded-lg text-white font-bold hover:bg-violet-800 w-2/4 text-center transition ease-in-out" href="/login/">Login</a>
        <a class="bg-violet-700 py-2 px-4 rounded-lg text-white font-bold hover:bg-violet-800 w-2/4 text-center transition ease-in-out" href="/signup/">Sign in</a>
    </div>
 </div>

</div>
    <script src="/components/nav.js"></script>
</body>
</html>